<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/documentacionkoghi?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping class="com.koghi.documentacion.modelo.Ambiente"/>
    <mapping class="com.koghi.documentacion.modelo.DetalleIteracion"/>
    <mapping class="com.koghi.documentacion.modelo.DetalleSponsor"/>
    <mapping class="com.koghi.documentacion.modelo.Equipo"/>
    <mapping class="com.koghi.documentacion.modelo.Hito"/>
    <mapping class="com.koghi.documentacion.modelo.IteracionAmbientes"/>
    <mapping class="com.koghi.documentacion.modelo.ProjectCharter"/>
    <mapping class="com.koghi.documentacion.modelo.Sponsor"/>
    <mapping class="com.koghi.documentacion.modelo.SprintBacklog"/>
  </session-factory>
</hibernate-configuration>
